.Skill .clickable .skillLevel,
.Skill .clickable .skillTitle
{
    cursor: pointer;
}

.Skill .clickable .skillLevel:hover {
    box-shadow: 0 0 12px #cfc9ff !important;
}

.Skill .clickable .skillTitle:hover {
    text-shadow: 0 0 12px #cfc9ff !important;
}

.Skill .skillLevel {
    background-color: rgba(255, 255, 255, .15) !important;
}

.Skill .skillLevel .bar {
    background-color: rgba(255, 255, 255, .15) !important;
}

@media only screen and (max-width: 767px) {
    .Skill .column {
        text-align: center !important;
    }
    .Skill .skillLevel {
        width: 100% !important;
    }
}